body {
	font-family: Verdana,Geneva,Kalimati,sans-serif;
	line-height: 20px;
}

#header {
	height: 80px;
	background-color: #fefefe;
	background-image: url('../images/bg_header.jpg');
	background-repeat: repeat-x;
	background-position: top center;
	background-attachment: scroll
}
#site_name {
	color: #444444;
	font-size: 40px;
}
#site_description {
	color: #444444;
	font-size: 11px;
}
#logo, #logo_text {
	bottom: 20px;
}
#navigation > ul > li {
	height: 60px;
}
#navigation > ul > li > a {
	height:auto;
	line-height: 100%;
	padding: 10px 15px;
	margin: 10px 5px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#navigation ul li a, #navigation ul li a:visited {
	font-size: 17px;
	color: #FFFFFF;
}
#navigation .menu > .current-menu-item > a,#navigation .menu > .current-menu-item > a:visited,
#navigation .menu > .current-menu-ancestor > a {
	color: #ea6502;
}
#navigation .menu > .current_page_item > a,#navigation .menu > .current_page_item > a:visited,
#navigation .menu > .current_page_ancestor > a {
	color: #ea6502;
}
#navigation ul li a:hover, #navigation ul li a:active {
	color: #ea6502;
}
#navigation ul ul li a, #navigation ul ul li a:visited {
	font-size: 14px;
	color: #000000;
}
#navigation ul ul li a:hover, #navigation ul ul li a:active {
	color: #000000;
}
#navigation ul li ul {
	background-color: #f5f5f5;
}
#navigation ul li ul li a:hover, #navigation ul ul li a:hover {
	background-color: #dddddd;
}
a:hover {
	text-decoration:none;
}
#feature {
	background-color: #123700;
}
#feature h1 {
	font-size: 42px;
	color: #ffffff;
}
#introduce {
	font-size: 21px;
	color: #ffffff;
}
#introduce a {
	color: #ffffff;
}
#page {
	background-color: #fefefe;

	color: #333333;
	font-size: 14px;
}

ul.mini_tabs li.current, ul.mini_tabs li.current a {
	background-color: #fefefe;
}
.divider.top a {
	background-color: #fefefe;
}
#page h1,#page h2,#page h3,#page h4,#page h5,#page h6{
	color: #333333;
}
#page h1 {
	color: #333333;
}
#page h2 {
	color: #333333;
}
#page h3 {
	color: #ea6502;
}
#page h4 {
	color: #333333;
}
#page h5 {
	color: #333333;
}
#page h6 {
	color: #333333;
}
#page a, #page a:visited {
	color: #ea6502;
}
#page a:hover, #page a:active {
	color: #ea6502;
}
#page h1 a,#page h1 a:visited,#page h1 a:hover,#page h1 a:active {
	color: #333333;
}
#page h2 a,#page h2 a:visited,#page h2 a:hover,#page h2 a:active {
	color: #333333;
}
#page h3 a,#page h3 a:visited,#page h3 a:hover,#page h3 a:active {
	color: #ea6502;
}
#page h4 a,#page h4 a:visited,#page h4 a:hover,#page h4 a:active {
	color: #333333;
}
#page h5 a,#page h5 a:visited,#page h5 a:hover,#page h5 a:active {
	color: #333333;
}
#page h6 a,#page h6 a:visited,#page h6 a:hover,#page h6 a:active {
	color: #333333;
}
#page .portfolios.sortable header a {
	background-color:#eeeeee;
	color:#666666;
}
#page .portfolios.sortable header a.current, #page .portfolios.sortable header a:hover {
	background-color:#eeeeee;
	color:#666666;
}
#sidebar .widget a, #sidebar .widget a:visited {
	color: #666666;
}
#sidebar .widget a:hover, #sidebar .widget a:active {
	color: #333333;
}
#sidebar .widgettitle {
	color: #ea6502;
	font-size: 16px;
}
#breadcrumbs {
	color: #999999;
}
#breadcrumbs a, #breadcrumbs a:visited {
	color: #999999;
}
#breadcrumbs a:hover, #breadcrumbs a:active {
	color: #999999;
}
.portfolio_title {
	font-size: 24px;
	color: #333333;
}
#footer {
	background-color:#000000;
	color: #ffffff;
	font-size: 12px;

}
#footer .widget a, #footer .widget a:visited{
	color: #ffffff;
}
#footer .widget a:active, #footer .widget a:hover{
	color: #ffffff;
}
#footer h3.widgettitle {
	color: #ffffff;
	font-size: 17px;
}
#footer_bottom {
	background-color:transparent;
}
#copyright {
	color: #ffffff;
	font-size: 12px;
}
#footer_menu a {
	font-size: 12px;
}
#footer_menu a, #footer_menu a:visited{
	color: #ffffff;
}
#footer_menu a:hover, #footer_menu a:active {
	color: #ffffff;
}
#footer_bottom a, #footer_bottom a:visited{
	color: #ffffff;
}
#footer_bottom a:hover, #footer_bottom a:active {
	color: #ffffff;
}
.divider, .divider_line, .commentlist li,.entry .entry_meta,#sidebar .widget li,#sidebar .widget_pages ul ul,#about_the_author .author_content {
	border-color: #eeeeee;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
#nivo_slider_wrap, #nivo_slider_loading, #nivo_slider {
	height: 300px;
}
#nivo_slider_frame {
	height: 299px;
}
.nivo-caption {
	background-color: #000000;
}
.nivo-caption p {
	color: #ffffff;
}
#kwicks li {
	height: 440px;
}
.kwick_frame,.kwick_last_frame {
	height: 439px;
}
ul.anythingBase li.panel {
	background-color: #ffffff;
}
#anything_slider_wrap, #anything_slider_loading {
	height: 440px;
}
#anything_slider p {
	font-size: 12px;
}
.caption_left, .caption_right {
	height: 410px;
}
.entry {
	margin-bottom: 80px;
}
.entry_title {
	font-size: 36px;
}
.entry_left .entry_image .image_frame {
	width: 200px;
	height: 200px;
}
.entry_left .entry_image, .entry_left .entry_image .image_shadow {
	width: 202px;
}
#page ul.tabs li a {
	background-color: #f5f5f5;
	color: #666666;
}
#page ul.tabs li a.current {
	background-color: #FFFFFF;
	color: #333333; 
}
#page ul.mini_tabs li a {
	background-color: #f5f5f5;
	color: #666666;
}
#page ul.mini_tabs li a.current {
	background-color: #FFFFFF;
	color: #333333; 
}
.accordion .tab {
	background-color: #f5f5f5;
	color: #666666;
}
.accordion .tab.current {
	background-color: #FFFFFF;
	color: #333333;
}

.footerlink {line-height:24px;}
.smart {
width:960px;
height:5px;
text-align:center;
color:#fff;
}
#logo {margin:10px 0px -25px -62px;}